$node-size: 84px;

.planNode {
  width: $node-size * 9;
  height: $node-size * 9;
  display: flex;
  flex-flow: wrap;
  box-sizing: border-box;
}

.middleNode {
  width: $node-size * 3;
  height: $node-size * 3;
  display: flex;
  flex-flow: wrap;
  box-sizing: border-box;
  animation-duration: 0.6s;
  animation-name: pop;
}

.unVisibile {
  visibility: hidden;
}

.smallNode {
  width: $node-size;
  height: $node-size;
  border: 0.1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.2);
  }

  .insertBox {
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
    resize: none;
    display:inline-block;
    vertical-align:middle;
    overflow: none;

    &:hover {
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

@keyframes pop {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}
